* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #c977ad;
  color: #925b82;
}

header {
  background-color: #7459a7;
  padding: 20px 0;
  color: white;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 1.8rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  background: url('https://images.unsplash.com/photo-1528701800484-1790f8d1e0dc?auto=format&fit=crop&w=1200&q=80') no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  background-color: #7255a8;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #661f1f;
}

.categoria {
  padding: 60px 20px;
  text-align: center;
  background-color: white;
  margin-bottom: 20px;
}

.categoria h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  color: #661f1f;
}

.produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.produto {
  background-color: #fdfdfd;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 220px;
  transition: transform 0.3s;
}

.produto:hover {
  transform: scale(1.05);
}

.produto img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.produto p {
  font-weight: bold;
  font-size: 1rem;
}

footer {
  background-color: #4d002d;
  color: white;
  padding: 20px;
  text-align: center;
}
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #25d366;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(255, 251, 251, 0.2);
  transition: transform 0.2s ease-in-out;
}

.whatsapp-button:hover {
  transform: scale(1.1);
}

.whatsapp-button img {
  width: 40px;
  height: 40px;
}

.social-links {
  display: flex;
  gap: 15px;
}

.social-links a { 
  display: inline-block;
  width: 40px;
  background-color: var(--primary-color);
  color:rgb(190, 166, 178); 
  border-radius:50%;
  display: flex;
  align-items:center;
  justify-content:center;
  transition:all 0.3s ease;
}

.social-links a:hover {
  background-color: var(--accent-color);
  transform: translateY(-3px);
}